<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>TextHelix</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>md</string>
				<string>markdown</string>
				<string>txt</string>
				<string>py</string>
				<string>rb</string>
				<string>js</string>
				<string>ts</string>
				<string>jsx</string>
				<string>tsx</string>
				<string>rs</string>
				<string>go</string>
				<string>java</string>
				<string>c</string>
				<string>cpp</string>
				<string>cc</string>
				<string>cxx</string>
				<string>h</string>
				<string>hpp</string>
				<string>cs</string>
				<string>swift</string>
				<string>kt</string>
				<string>scala</string>
				<string>r</string>
				<string>m</string>
				<string>php</string>
				<string>pl</string>
				<string>lua</string>
				<string>sh</string>
				<string>bash</string>
				<string>zsh</string>
				<string>fish</string>
				<string>json</string>
				<string>yaml</string>
				<string>yml</string>
				<string>toml</string>
				<string>xml</string>
				<string>csv</string>
				<string>tsv</string>
				<string>rst</string>
				<string>org</string>
				<string>tex</string>
				<string>latex</string>
				<string>conf</string>
				<string>config</string>
				<string>cfg</string>
				<string>ini</string>
				<string>env</string>
				<string>properties</string>
				<string>plist</string>
				<string>gitignore</string>
				<string>gitattributes</string>
				<string>editorconfig</string>
				<string>log</string>
				<string>out</string>
				<string>err</string>
				<string>diff</string>
				<string>patch</string>
				<string>sql</string>
				<string>proto</string>
				<string>graphql</string>
				<string>vim</string>
				<string>vimrc</string>
				<string>tmux</string>
				<string>zshrc</string>
				<string>bashrc</string>
				<string>profile</string>
				<string>makefile</string>
				<string>cmake</string>
				<string>gradle</string>
				<string>rakefile</string>
				<string>gemfile</string>
				<string>podfile</string>
				<string>dockerfile</string>
				<string>LICENSE</string>
				<string>README</string>
				<string>CHANGELOG</string>
				<string>AUTHORS</string>
				<string>envrc</string>
				<string>npmrc</string>
				<string>yarnrc</string>
				<string>eslintrc</string>
				<string>prettierrc</string>
				<string>babelrc</string>
				<string>dockerignore</string>
				<string>nvmrc</string>
				<string>ruby-version</string>
				<string>python-version</string>
				<string>node-version</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.plain-text</string>
				<string>public.text</string>
				<string>public.source-code</string>
				<string>public.script</string>
				<string>public.data</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>TextHelix</string>
	<key>CFBundleIdentifier</key>
	<string>com.terryli.TextHelix</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>TextHelix</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>File URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>file</string>
			</array>
		</dict>
	</array>
	<key>LSMinimumSystemVersion</key>
	<string>10.11.0</string>
	<key>LSUIElement</key>
	<false/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>© 2025 Terry Li</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
